body {

    background-color: beige;
    
    
    justify-content: center;
    justify-items: center;
        flex-direction: column;
        padding-block: 50px;
        padding-left: 50px;
        padding-right: 50px;
}
 .first {
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
   
 }
    .second {
         
        margin:1px;
    }
 
    .forth {
 align-self: start;
 text-align: start;
 text-align: left;
 display: inline-block;
 margin-right: 10px;
 margin-top: 50px;
 margin-bottom: 0px;
 
    }

    .block{
      display: inline-block;
   margin-right: 200px;
   margin-top: 0px;
    }

    .fifth {
      margin: 0cap;
      margin-top: 0px;
     
    }
    .third{
margin: 0px;
margin-bottom: 0px;
margin-top: 0px;

    }

    .blook{

      margin-top: 0%;
      margin: 0px;
    }
    
   
    .instruction{
      margin-top: 0px;
      margin: 0px;
      margin-bottom: 0px;
    }

    .student{
margin: 0px;
    }
    .line1{
      margin: 0px;
      margin-bottom: 0px;
      margin-top: 0px;
    }